{% assign category = page.category | default: page.title %}

{% assign previousPost = nil %}
{% assign nextPost = nil %}
{% for post in site.categories[category] reversed %}
    {% if post.url == page.url %}
        {% break %}
    {% else %}
        {% capture previousPost %}
        {{ post.url }}
        {% endcapture %}
    {% endif %}
{% endfor %}

{% for post in site.categories[category] %}
    {% if post.url == page.url %}
        {% break %}
    {% else %}
        {% capture nextPost%}
           {{ post.url }}
        {% endcapture %}
    {% endif %}
{% endfor %}
<div class="clearfix">
    {% if previousPost %}
    <a class="btn btn-primary float-left" href="{{ previousPost | prepend: site.baseurl | replace: '//', '/' }}"
        data-toggle="tooltip" data-placement="top" title="{{ previous.title }}">&larr; Previous<span
            class="d-none d-md-inline">
            Post</span></a>
    {% endif%}

    {% if nextPost %}
    <a class="btn btn-primary float-right" href="{{ nextPost | prepend: site.baseurl | replace: '//', '/' }}"
        data-toggle="tooltip" data-placement="top" title="{{ nextPost.title }}">Next<span class="d-none d-md-inline">
            Post</span> &rarr;</a>
    {% else %}
    <a class="btn btn-primary float-right text-white" disabled data-toggle="tooltip" data-placement="top">END</a>
    {% endif%}
</div>